body, .bg-body-color{
    background-color: #fbfbfb;
}
.bg-primary-color{
    background-color: #4db6ac;
}
.bg-primary-dark-color{
    background-color: #00867d;
}
.bg-primary-light-color{
    background-color: #82e9de;
}
.txt-primary-color{
    color: #4db6ac;
}
.txt-primary-dark-color{
    color: #00867d;
}
.txt-primary-light-color, .nav-item:hover{
    color: #82e9de;
}
label{
    font-weight: 400;
}
.input-error{
    border: 1px solid #dc3545;
    box-shadow: #dc3545 0 0 2px;
}
.nav-link{
    color: #ffffff!important;
}
.input-error-desc{
    font-size: 0.9rem;
    font-weight: 500;
}
.link-txt-color{
    color: #1c5a55;
}
.help-text{
    color: #4a4a4a;
}
.help-text-list{
    list-style-type: none;
    padding: 0;
}
.header{
    position: fixed;
    padding: 0.5rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5000;
}
.off-canvas-nav{
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s linear 0.1s;
    min-height: 95vh;
    min-width: 78vw;
}
.off-canvas-nav:not(.hide){
    transform: translateX(0);
}
.navbar-toggler{
    display: inline-block;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
}
.nav{
    flex-direction: column;
}
.dashboard-dropdown{
    position: relative;
    left: 3%;
    right: 0;
    top: 0;
}
.notifications-dropdown{
    position: absolute;
    top: 100%;
    right: 0;
    left: -130px;
    padding-bottom: 0;
    padding-top: 0;
}
.nav-bar-toggler-hide{
    display: none;
}
.alert-message{
    padding-bottom: 0;
}
.navbar-brand{
    font-size: 1em;
}
.navbar-container{
    padding: 0;
}
.nav-ml{
    margin-left: 0!important;
}
.navbar-toggle-text, .profile-details-label{
    font-weight: 600;
}
.mt-t-5{
    margin-top: 5rem;
}
.profile-details{
    width: 100%;
}
.container-alert .col{
    padding-right: 0;
    padding-left: 0;
}
.picture-upload {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.picture-upload-label{
    display: inline-block;
    cursor: pointer;
    max-width: 100%;
    min-width: 50%;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
.picture-upload:focus + .picture-upload-label{
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.profile-avatar{
    max-width: 200px;
    max-height: 200px;
}
.theme-btn{
    font-weight: 600;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 55%;
}
.theme-btn:hover{
    background-color: #4db6ac;
}
.nav-bar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.grow{
    flex-basis: 100%;
    flex-grow: 1;
}
.header-link{
    color: black;
}
.header-link:visited{
    color: transparent;
    text-decoration: none;
}
.header-link:hover{
    color: #4db6ac;
    text-decoration: none;
}
.embed-topic-video{
    width: 100%;
    min-height: 500px;
}
@media (min-width: 400px){ 
    .off-canvas-nav{
        min-width: 55vw;
    }
}
@media (min-width: 576px){ 
    .navbar-brand{
        font-size: 1.25rem;
    }
    .off-canvas-nav{
        min-width: 40vw;
    }
    .theme-btn{
        width: auto;
    }
}
@media  (min-width: 768px){
    .off-canvas-nav{
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        min-height: auto;
        min-width: auto;
    }
    .navbar-toggler{
        display: none;
    }
    .nav{
        flex-direction: row;
    }
    .header{
        padding: 0;
        position: relative;
    }
    .dashboard-dropdown{
        position: absolute;
        left: initial;
        right: 0;
        top: 100%;
    }
    .nav-ml{
        margin-left: auto!important;
    }
    .navbar-container{
        padding-right: 15px;
        padding-left: 15px;
    }
    .profile-details{
        width: 65%;
    }
}
@media (min-width: 992px){
    .conf-label{
        font-size: 0.79em;
        padding-right: 0!important;
        padding-left: 0!important;
    }
    .profile-details{
        width: 50%;
    }
}