{% extends 'base-layout.html' %}
{% block title %}Topics{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-7">
            {% if messages %}
            {% include 'partials/alert-messages.html' %}
            {% endif %}
        </div>
        <div class="col-12 col-md-10 col-lg-7">
            {% if topics %}
            {% for topic in topics %}
            <div class="card mb-3">
                <div class="card-body">
                    <h2 class="card-title">
                        <a class="header-link" href="{% url 'tracks:topic-details' topic.slug %}">
                            {{topic.title}}
                        </a>
                    </h2>
                    <div class="card-text">
                        <p>{{topic.description}}</p>
                        <div class="dropdown-divider"></div>
                        <p class="px-3">
                            <span class="mr-2">Completed</span>
                            <span class="badge badge-pill badge-info">
                                {% if topic.completed %}
                                <i class="fas fa-check-circle"></i>
                                {% else %}
                                <i class="fas fa-times"></i>
                                {% endif %}
                            </span>
                        </p>
                    </div>
                    {% if user.is_admin %}
                    <div class="dropdown-divider"></div>
                    <div class="btn-group" role="group">
                        <a class="btn btn-info"
                            href="{% url 'tracks:edit-topic' topic.slug %}">Edit</a>
                        <a class="btn btn-danger"
                            href="{% url 'tracks:delete-topic' topic.slug %}">Delete</a>
                        <a class="btn btn-secondary"
                            href="{% url 'tracks:edit-note' topic.slug %}">Edit note</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% if is_paginated %}
            <div>
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{page_obj.previous_page_number}}">&laquo;</a>
                    </li>
                    {% else %}
                    <li class="disabled page-item">
                        <span class="page-link">&laquo;</span>
                    </li>
                    {% endif %}
                    <li class="page-item active">
                        <span class="page-link">{{page_obj.number}}</span>
                    </li>
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{page_obj.next_page_number}}">&raquo;</a>
                    </li>
                    {% else %}
                    <li class="disabled page-item">
                        <span class="page-link">&raquo;</span>
                    </li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
            {% else %}
            <p class="list-group-item">
                No topics added
            </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}