{% extends 'base-layout.html' %}
{% load static %}
{% block title %}{{topic.0.title}}{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/plyr.css' %}" />
{% endblock %}
{% block content %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">{{topic.0.title}}</h2>
                </div>
                <div ng-app="topic-details">
                    <nav class="navbar bg-primary-color">
                        <div class="container-fluid">
                            <ul class="nav topic-nav">
                                <li class="nav-item text-center topic-nav-item">
                                    <a class="nav-link" role="tab" aria-controls="Video"
                                         ui-sref="video">Video</a>
                                </li>
                                <li class="nav-item text-center topic-nav-item">
                                    <a class="nav-link" role="tab" aria-controls="Note"
                                         ui-sref="note">Note</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="card-body" ui-view></div>
                </div>
                <div class="card-footer">
                    {% if topic.0.prev_slug or topic.0.next_slug%}
                    {% if topic.0.prev_slug %}
                    <a class="btn btn-outline-success bt-md"
                        href="{% url 'tracks:topic-details' topic.0.prev_slug %}">
                        Previous topic</a>
                    {% endif %}
                    {% if topic.0.next_slug %}
                    <a class="btn btn-outline-success btn-md float-right"
                        href="{% url 'tracks:topic-details' topic.0.next_slug %}">
                        Next topic</a>
                    {% endif %}
                    {% else %}
                        <p class="card-text">No other topics</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block body-scripts %}
<script src="{% static 'scripts/angular.min.js' %}"></script>
<script src="{% static 'scripts/angular-ui-router.min.js' %}"></script>
<script src="https://www.youtube.com/iframe_api"></script>
<script src="{% static 'scripts/angular-youtube-embed.min.js' %}"></script>
<script src="{% static 'scripts/js-cookie.js' %}"></script>
<script src="{% static 'scripts/topics/topic-spa.js' %}"></script>
{% endblock %}