{% extends 'base-layout.html' %}
{% block title %}Project Manager{% endblock %}
{% block content %}
<div class="container">
    {% if messages %}
    {% include 'partials/alert-messages.html' %}
    {% endif %}
    <div class="jumbotron">
        <p class="lead text-center copy-rights">Developed by <span class="brand">MAE</span>&copy;</p>
        <hr class="my-4">
        <h2>Features:</h2>
        <p class="lead">
            Website that enables the team members to track the progress of the project and also to have all their needs into
            one website. Allowing the team members to have all the resources required for the project. The members are registered into
            the website if only the admin sends them an invitation. Only the admin is allowed to add, edit and delete tracks and
            topics. The admin can see if the members completed a certain track and topic or not. Only the admin
            can add, edit and delete resources from the website. The website shows notifications for any new activity.
        </p>
    </div>
</div>
{% endblock %}