<header class="bg-primary-dark-color header">
    <nav class="nav-bar">
        <button class="navbar-toggler btn btn-light
            {% if not user.is_authenticated %}nav-bar-toggler-hide{% endif %}" type="button" data-toggle="off-canvas" id="navbar-toggler"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggle-text">Menu</span>
        </button>
        <div class="navbar hide list-group bg-primary-dark-color
            {% if user.is_authenticated %}
            pr-md-0 ml-md-auto off-canvas-nav
            {%else%}grow{% endif %}" id="navbar">
            <div class="container navbar-container pr-md-0">
                {% if not user.is_authenticated %}
                <a class="navbar-brand text-white" href="{% url 'index'%}">Project Manager</a>
                {% endif %}
                <ul class="nav nav-ml {% if user.is_authenticated %}off-canvas-ul{%endif%}">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'resources:resources-list' %}">Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tracks:tracks-list' %}">Tracks</a>
                    </li>
                    {% if user.is_admin %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="collapse"
                        href="#" role="button" aria-haspopup="true" aria-label="Toggle dropdown"
                            id="admin-drop-down-toggler" aria-expanded="false">Admin</a>
                        <div class="dropdown-menu dashboard-dropdown collapse off-canvas-dropdown"
                            id="admin-dropdown-menu">
                            <a class="dropdown-item" href="{% url 'accounts:account-verifications' %}">
                                Account Verifications
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'accounts:add-account-verification' %}">
                                Add account verification
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'tracks:create-track' %}">
                                Add track
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'accounts:users-list' %}">
                                All users
                            </a>
                        </div>
                    </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="collapse"
                        href="#" role="button" aria-haspopup="true" aria-label="Toggle dropdown"
                            id="user-drop-down-toggler" aria-expanded="false">User</a>
                        <div class="dropdown-menu dashboard-dropdown collapse off-canvas-dropdown"
                            id="user-dropdown-menu">
                            <a class="dropdown-item"
                                href="{% url 'accounts:profile' user.slug %}">Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item"
                                href="{% url 'tracks:tracks-progress' user.slug %}">My progress</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'auth:logout' %}">Logout</a>
                        </div>
                    </li>
                    {% else %}
                    <a class="btn btn-light" href="{% url 'auth:login' %}">Login</a>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="navbar pl-md-0 ml-auto ml-md-0 py-0 pr-0 pr-md-3">
            <ul class="nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle pr-0 pr-md-3" data-toggle="collapse"
                        href="#" role="button" aria-haspopup="true"
                        aria-label="Toggle dropdown" id="notifications-dropdown-toggler"
                        aria-expanded="false">
                        <span>Notifications</span>
                        <span class="badge badge-light">
                            <i class="far fa-bell p-1"></i>
                            {% if request.notifications_count %}
                            <span class="badge badge-pill badge-danger notif-count">
                                {{request.notifications_count}}
                            </span>
                            {% endif %}
                        </span>
                    </a>
                    {% include 'partials/notifications.html' %}
                </li>
            </ul>
        </div>
        {% endif %}
    </nav>
</header>