{% extends 'base-layout.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/fontawesome-all.min.css' %}" />
{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="card">
                <div class="card-header bg-primary-color text-white">
                    <h1>Change Password</h1>
                </div>
                <div class="card-body">
                    {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-danger col pb-0">
                        <ul class="text-danger help-text-list">
                            <li class="input-error-desc">{{error}}</li>
                        </ul>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group form-row">
                            <label class="col-form-label col-lg-2 text-lg-center conf-label"
                                for="old-password">Old password</label>
                            <div class="col-lg-10">
                                <div class="input-group">
                                    <input type="password" id="old-password" name="{{form.old_password.html_name}}"
                                        placeholder="Enter your current password" required autofocus
                                        class="form-control {% if form.old_password.errors %} input-error {% endif %}"/>
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i id="old-password-icon" class="fas fa-key"></i>
                                        </span>
                                    </div>
                                </div>
                                {% if form.old_password.errors %}
                                <div class="text-danger">
                                    <small class="input-error-desc">{{form.old_password.errors.0}}</small>
                                </div>
                                {% endif %}
                                {% if form.old_password.help_text %}
                                <div class="form-text">
                                    <small class="help-text">{{form.old_password.help_text|safe}}</small>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label class="col-form-label col-lg-2 text-lg-center conf-label"
                                for="new-password">New password</label>
                            <div class="col-lg-10">
                                <div class="input-group">
                                    <input type="password" id="new-password"
                                        name="{{form.new_password1.html_name}}"
                                        placeholder="Enter the new password" required
                                        class="form-control {% if form.new_password1.errors %} input-error {% endif %}"/>
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i id="new-password-icon" class="fas fa-lock"></i>
                                        </span>
                                    </div>
                                </div>
                                {% if form.new_password1.errors %}
                                <div class="text-danger">
                                    <small class="input-error-desc">{{form.new_password1.errors.0}}</small>
                                </div>
                                {% endif %}
                                {% if form.new_password1.help_text %}
                                <div class="form-text">
                                    <small class="help-text">{{form.new_password1.help_text|safe}}</small>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label class="col-form-label col-lg-2 text-lg-center conf-label"
                                for="confirm-password">Confirm Password</label>
                            <div class="col-lg-10">
                                <div class="input-group">
                                    <input type="password" id="confirm-password" required
                                        name="{{form.new_password2.html_name}}" placeholder="Confirm the new password"
                                        class="form-control {% if form.new_password2.errors %} input-error {% endif %}"/>
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i id="confirm-password-icon" class="fas fa-redo"></i>
                                        </span>
                                    </div>
                                </div>
                                {% if form.new_password2.errors %}
                                <div class="text-danger">
                                    <small class="input-error-desc">{{form.new_password2.errors.0}}</small>
                                </div>
                                {% endif %}
                                {% if form.new_password2.help_text %}
                                <div class="form-text">
                                    <small class="help-text">{{form.new_password2.help_text}}</small>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col offset-lg-2">
                                <input type="submit" value="submit" class="btn bg-primary-color text-white"
                                    id="submit-btn" disabled/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block body-scripts %}
<script src="{% static 'scripts/validate-auth.js' %}"></script>
<script src="{% static 'scripts/validate-change-password.js' %}"></script>
{% endblock %}