{% extends 'base-layout.html' %}
{% block title %}All Users{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                {% if users %}
                <table class="table table-light table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                        </tr>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{user.name}}</td>
                                <td title="show progress">
                                    <a href="{% url 'tracks:tracks-progress' user.slug %}">
                                        {{user.email}}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </thead>
                </table>
            </div>
            {% if is_paginated %}
            <div>
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{page_obj.previous_page_number}}">&laquo;</a>
                    </li>
                    {% else %}
                    <li class="disabled page-item">
                        <span class="page-link">&laquo;</span>
                    </li>
                    {% endif %}
                    {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li class="active page-item"><span class="page-link">{{i}}<span class="sr-only">(current)</span></span></li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{i}}">{{i}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{page_obj.next_page_number}}">&raquo;</a>
                    </li>
                    {% else %}
                    <li class="disabled page-item">
                        <span class="page-link">&raquo;</span>
                    </li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
            {% else %}
            <p href="#" class="list-group-item">
                No users found.
            </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}