{% extends 'base-layout.html' %}
{% block title %}All Users{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                {% if users %}
                <table class="table table-light table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                        </tr>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{user.name}}</td>
                                <td title="show progress">
                                    <a href="{% url 'tracks:tracks-progress' user.slug %}">
                                        {{user.email}}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </thead>
                </table>
            </div>
            {% else %}
            <p href="#" class="list-group-item">
                No account verifications
            </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}