{% extends 'base-layout.html' %}
{% load resource_tags %}
{% load static %}
{% block title %}Resources{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-7">
            {% if messages %}
            {% include 'partials/alert-messages.html' %}
            {% endif %}
        </div>
        <div class="col-12 col-md-10 col-lg-7">
            {% if user.is_admin %}
            <div class="list-group-item mb-3">
                <a class="btn bg-primary-dark-color text-white topic-btn"
                    href="{% url 'resources:add-link'%}">Add Link</a>
                <a class="btn btn-dark float-right" href="{% url 'resources:add-document' %}">
                    Add document</a>
            </div>
            {% endif %}
            <div class="list-group-item mb-3">
                <form method="GET">
                    <div class="form-group form-row">
                        <label class="col-form-label col-12"
                            for="search">Search resources</label>
                        <div class="col-12">
                            <input type="search" id="search-input" class="form-control"
                                autofocus required name="resource_name"
                                placeholder="Enter the name of the resource"/>
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-10 pt-1 mb-2 mb-sm-0">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" checked
                                    id="link" value="link" name="resource_type">
                                <label class="form-check-label" for="link">Link</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" checked
                                    id="document" value="document" name="resource_type">
                                <label class="form-check-label" for="document">Document</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-2 text-left text-sm-right">
                            <input type="submit" value="Go" id="submit-btn" disabled
                                class="btn bg-primary-dark-color text-white topic-btn"/>
                        </div>
                    </div>
                </form>
            </div>
            {% if resources %}
            <div class="list-group mb-3">
                {% for resource in resources %}
                <div class="list-group-item">
                    <h6 class="card-title mb-0">{{resource.title}}</h6>
                    <small class="card-subtitle text-muted">{{resource.subtitle}}</small>
                    <p class="card-text">
                        {% if resource.url %}
                        <a href="{{resource.url}}" target="blank"  class="wrap-word">
                            {{resource.url}}
                        </a>
                        {% else %}
                        <a href="{% url 'resources:download-document' resource.id %}"
                            target="blank" class="wrap-word">
                            {% get_document_name resource.document %}
                        </a>
                        {% endif %}
                    </p>
                    {% if user.is_admin %}
                    <div class="dropdown-divider"></div>
                    {% if resource.url %}
                    <div class="btn-group" role="group">
                        <a class="btn btn-info"
                            href="{% url 'resources:edit-link' resource.id %}">Edit</a>
                        <a class="btn btn-danger" href="{% url 'resources:delete-link' resource.id %}">
                            Delete</a>
                    </div>
                    {% else %}
                    <div class="btn-group" role="group">
                        <a class="btn btn-info" href="{% url 'resources:edit-document' resource.id %}">
                            Edit</a>
                        <a class="btn btn-danger" href="{% url 'resources:delete-document' resource.id %}">
                            Delete</a>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% if is_paginated %}
            <div>
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{page_obj.previous_page_number}}">&laquo;</a>
                    </li>
                    {% else %}
                    <li class="disabled page-item">
                        <span class="page-link">&laquo;</span>
                    </li>
                    {% endif %}
                    {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li class="active page-item"><span class="page-link">{{i}}<span class="sr-only">(current)</span></span></li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{i}}">{{i}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{page_obj.next_page_number}}">&raquo;</a>
                    </li>
                    {% else %}
                    <li class="disabled page-item">
                        <span class="page-link">&raquo;</span>
                    </li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
            {% else %}
            <p class="list-group-item">
                No resources found.
            </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block body-scripts %}
<script src="{% static 'scripts/resources/search-form.js' %}"></script>
{% endblock %}